<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Login for Highlight tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/custom2.css' %}">
    <style>
      body {
        background-image: url("{% static 'img/crossDocking.png' %}");
      }
    </style>
</head>
<body class="bg-info">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <br>
    </div>
  </div> 
    <div class="row">
      <div class="col-3">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
              <h5 class="card-title text-center">Cross Docking Sign In</h5>
              <p class="card-text">
                <form class="form-signin" method="post">    
                  {% csrf_token %}
                  <div class="form-label-group">
                    <input id="inputEmail" name="inputEmail" class="form-control" placeholder="Login" required>
                  </div>
                  <br>
                  <div class="form-label-group">
                    <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                  </div>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                </form>
                {% if messages %}
                  <p>Errors:</p>
                  <ul class="messages">
                  {% for message in messages %}
                      <li>{{ message }}</li>
                  {% endfor %}
                  </ul>
                  {% endif %}
              </p>
          </div>
      </div> 
      </div>
      <div class="col-9">
      </div>
  </div> 
</div> 
</body>
</html>

